NODE_ENV=DEV
CLIENT_SERVER=<clien server> e.g. http://localhost:3000
PORT=<port> e.g. 4000
DBFILE_PATH=<path to database file> e.g. C:\\folder\\database_folder
SECRET_KEY=<jwstoken secret key>
AWS_BUCKET_NAME=<aws bucket to store images and the code>
AWS_BUCKET_IMAGE_FOLDER=<aws folder in bucket to store images>
AWS_BUCKET_IMAGE_DELETED_FOLDER=<aws folder in bucket to keep deleted images>
AWS_ACCESS_KEY=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secret access key>
AWS_REGION=<aws region> e.g. us-west-1
AWS_IMAGES_BASE_URL=https://<aws bucketname>.s3.amazonaws.com/

NODE_ENV=DEV
CLIENT_SERVER=http://localhost:3000
PORT=4000
DBFILE_PATH=db_code\sqlite3_db\cricextra_db
SECRET_KEY=feae79235c4bd5779e3bfc83ccbc4a1c02f601f98d7e82a1febe6871a018768a0c6337f4dd26363ec557942bb4420d893a8ce845ce16b401d6eaadc77adb3792
AWS_BUCKET_NAME=cricextra
AWS_BUCKET_IMAGE_FOLDER=images/
AWS_BUCKET_IMAGE_DELETED_FOLDER=deletedimages/
AWS_ACCESS_KEY=AKIATAOYKNJAIJ32JNIC
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_URL_EXPIRY=3600
AWS_IMAGES_BASE_URL=https://cricextra.s3.amazonaws.com/